<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colorful.colorful_android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Always include this permission -->
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:name="com.colorful.colorful_android.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="알로록\n달로록"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Colorful_android"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false" />-->

        <activity
            android:name="com.colorful.colorful_android.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>


        <!--SplashActivity 등록록-->
        <activity android:name="com.colorful.colorful_android.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                        <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                        <data android:host="oauth"
                            android:scheme="kakaobab3f53d7921ca0e8ac626ca5e7a8ea0" />

            </intent-filter>
        </activity>

        <activity android:name="com.colorful.colorful_android.MapView.BaseMapview"/>

        <activity android:name="com.colorful.colorful_android.Home.HomeMainDialog"/>
        <activity android:name="com.colorful.colorful_android.Home.PopupTourSpotPalette" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.colorful.colorful_android.Home.DialogAddConfirm" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.colorful.colorful_android.Home.AddTourSpotInPalette" android:theme="@android:style/Theme.Dialog"/>

        <activity android:name="com.colorful.colorful_android.Color.ColorActivity" />
        <activity android:name="com.colorful.colorful_android.Color.ColorDetailActivity" />
        <activity android:name="com.colorful.colorful_android.Color.PaletteSetting" />
        <activity android:name="com.colorful.colorful_android.Color.PopupDeletePalette" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.colorful.colorful_android.Color.PopupCreatePaletteDue" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.colorful.colorful_android.Color.PopupCreatePaletteName" android:theme="@android:style/Theme.Dialog"/>

        <activity android:name="com.colorful.colorful_android.Search.SerachActivity" />
        <activity android:name="com.colorful.colorful_android.Search.SearchFilterActivity" />

        <activity android:name="com.colorful.colorful_android.Mypage.MypageActivity" />
        <activity android:name="com.colorful.colorful_android.Mypage.StarListActivity" />
        <activity android:name="com.colorful.colorful_android.Mypage.MyPageTourSpotListActivity" />

        <activity android:name="com.colorful.colorful_android.TestColor.TestMainActivity" />
        <activity android:name="com.colorful.colorful_android.TestColor.PersonalTestSelectImageActivity" />
        <activity android:name="com.colorful.colorful_android.TestColor.PersonalTestResultActivity" />
        <activity android:name="com.colorful.colorful_android.TestColor.PsycoloficalTestActivity" />
        <activity android:name="com.colorful.colorful_android.TestColor.PsycologicalTestResult" />
        <activity android:name="com.colorful.colorful_android.Login.LoginActivity" />

        <activity android:name="com.colorful.colorful_android.Setting.SettingActivity" />
        <activity android:name="com.colorful.colorful_android.Setting.PolicyActivity" />
        <activity android:name="com.colorful.colorful_android.Setting.LicenseActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.colorful.colorful_android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="bab3f53d7921ca0e8ac626ca5e7a8ea0"/>
    </application>

</manifest>